<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/no_person.css' %}">
</head>
<body>
    <h1>{{ message }}</h1>

<div class="blog-wrapper">
  <div class="blog-card">
    <div class="card-img"><img id="video_feed" src="{% url 'video_feed' %}"/>
        <h1>Notanish Shaxs</h1>
    </div>
    <!-- <div class="card-details"><span><i class="fa fa-calendar"></i>AUG 4</span><span><i class="fa fa-heart"></i>102</span></div> -->
    <!-- <div class="card-text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Si verbum sequimur, primum longius verbum praepositum quam bonum.</p></div> -->
    <div><a class="primary" href="{% url 'home' %}">Go back to Home</a></div>
    <br><br><br>
  </div>
</div>
</body>
</html>
